# See wiki/dotenv-bot-secret.md

# Telegram bot token
BOT_TOKEN=8586472048:AAF6YxBeKJJnl6dVrb7G1httv-LSNR9_TOo


# LMS API
LMS_API_BASE_URL=http://127.0.0.1:42002
LMS_API_KEY=something

# LLM API
LLM_API_MODEL=qwen3-coder-plus
LLM_API_KEY=sk-1bfae863202d4df69b50c4a2d6f53b20
LLM_API_BASE_URL=http://127.0.0.1:42005/v1

